/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full-height app container */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Green navbar */
.navbar {
  background-color: #106b21;
  height: 10%;
  padding: 16px 24px;
  display: flex;
  align-items: center;
}

/* White bold logo text */
.navbar-logo {
  height: 40px;
  width: auto;
  display: block;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;

}

/* car logo */
.navbar-icon {
  height: 10px;
  width: auto;
  display: block;
}

/* Gray page background fills remaining space */
.main-content {
  flex: 1;
  background-color: #f0f0f0;
}

/*search bar*/
.search-bar {
  display: flex;
  margin: 0 auto;
  margin-top: 5%;
  height: 50px;
  width: 80%;
  padding: 18px;
  border-radius: 70px;
  border: none;
  background: #cfcfcf;
  font-size: 30px;
  outline: none;
}

.search-bar:focus {
  transition: 0.2s ease-in-out;
  border: 1px solid blue;
}


/* Gold Create Ride button */
.createRide-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  background: #c69314;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.createRide-button img {
  height: 30px;
  padding: 0%;
}

.createRide-button:hover {
  background: #a8770f;
}

.createRide-button:active {
  transform: scale(0.96);
}
