.create-ride-window {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

/* Main white card */
.create-ride-card {
  width: 800px;
  max-height: 60vh;

  display: flex;
  flex-direction: column;

  background: #f4f4f4;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

/* Green header */
.create-ride-header {
  background: #106b21; /* Cal Poly green */
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-ride-header h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}

.close-btn {
  font-size: 40px;
  cursor: pointer;
}

/* Form body */
.create-ride-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  overflow-y: auto;
  flex: 1;
}

.create-ride-form::-webkit-scrollbar {
  width: 8px;
}

.create-ride-form::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Two column rows */
.form-row {
  display: flex;
  gap: 30px;
}

/* Form field wrapper */
.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;;
  flex: 1;
}

.form-field label {
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
  color: #333;
}

/* Inputs */
.create-ride-form input {
  flex: 1;
  padding: 18px;
  border-radius: 10px;
  border: none;
  background: #cfcfcf;
  font-size: 16px;
  outline: none;
}

/* Input with prefix (like dollar sign) */
.input-with-prefix {
  display: flex;
  align-items: center;
  background: #cfcfcf;
  border-radius: 10px;
  padding: 18px;
}

.input-prefix {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-right: 4px;
}

.input-with-prefix input {
  padding: 0;
  background: transparent;
}

.create-ride-form textarea {
  width: 100%;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: inherit;
  background: #cfcfcf;
  resize: none;
  min-height: 150px;
  outline: none;
  transition: 0.2s ease;
}

/* Full width input */
.full-width {
  width: 100%;
}

.form-field.full-width {
  width: 100%;
}

/* Gold create button */
.create-button {
  align-self: flex-end;
  background: #c69314;
  color: white;
  border: none;
  padding: 15px 35px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.create-button:hover {
  background: #a8770f;
}

.create-button:active {
  transform: scale(0.96);
}
