.ride-preview {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;

  background: #e6e6e6;
  border: 10px;
  border-radius: 12px;
  padding: 25px;
  width: 100%;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease;
}

.ride-preview:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
}

.ride-preview:active {
  transform: scale(0.98);
}

.profile-pic {
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-bottom: auto;
}

.destination {
  font-size: 28px;
  margin: 0;
}

.driver-name {
  font-size: 16px;
  color: #555;
  margin-left: auto;
}

.rating {
  font-size: 14px;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating img {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.price {
  font-size: 32px;
  font-weight: bold;
  color: #106b21;
}

.time,
.seats {
  font-size: 16px;
  color: #555;
  margin-right: auto;
}
